.main_page_container {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10px;
}
.mark_all_container {
  display: flex;
  justify-content: space-between;
}
.words_known {
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.navigation_buttons {
  font-size: 20px;
}
.page {
  font-size: 30px;
  font-weight: bold;
}
.clear_localStorage_button {
  background-color: red;
}
.word_card_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button_container {
  display: flex;
  justify-content: space-between;
}
.page_input {
  width: 60px;
  font-size: 20px;
}
.pageUpper {
  width: 10%;
  font-size: 30px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}
.totalWordsKnownClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .button_container {
    margin: 0;
  }
  .main_page_container {
    margin: 0;
  }
}
